*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'oswald', serif;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
    background-color: #fff;
}

/* header */

body{
    background-color: #291b5c;
}

header h1{
    text-align: center;
    color: #2c3e58;
    padding: 20px 0;
}


header h1 span{
    color: #19cc19;
}

.nav-menu{
    text-align: center;
    text-transform: uppercase;
    background-color: #fafafa;
}

.nav-menu a{
    color: rgb(50, 50, 168);
    
}

.nav-menu a:hover{
    color: #e74c3c;
}

.nav-menu li{
    padding: 20px;
}

/* About setion */

.about-text{
    padding: 0 50px;
}

.about-text h2{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 30px;
    margin: 30px 0;
}

.about-text p{
    font-weight: 400;
    margin-bottom: 10px;
}

.about-text a{
    color: coral;
}
.about-text a:hover{
    color: crimson;
}

/* Show food */

.show-food{
    margin-top: 80px;
    padding: 0 80px;
}

.food{
    background-color: #2c3e58;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    color: #fff;
}

.food:nth-child(2){
    background-color: crimson;
}

.food:nth-child(2){
    background-color: rgb(220, 67, 20);
}

.food .food-text{
    padding: 20px;
}

.food img{
    height: 100%;
}

food-text h2{
    margin-bottom: 10px;
    font-weight: 300px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

/* big image */

.bit-image{
    width: 80%;
    margin: auto;
}

.bit-image img{
    width: 100%;
}

/* Footer */

footer{
    background-color: rgb(36, 214, 199);
    text-align: center;
    color: #fff;
    padding: 15px;
    font-weight: 300;
    font-size:34px;
}